@inherits LayoutComponentBase

@using FedoraDev.TimCo.UserInterface.Portal.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
		<div class="top-row px-4">
			<AuthorizeView Roles="Admin">
				<Authorized>
					Admin
				</Authorized>
			</AuthorizeView>
			<AuthorizeView>
				<Authorized>
					@context.User.FindFirst(ClaimTypes.Name).Value
					<NavLink href="logout" class="nav-link">
						<span class="oi oi-account-logout"/> Logout
					</NavLink>
				</Authorized>
				<NotAuthorized>
					<Login/>
				</NotAuthorized>
			</AuthorizeView>
		</div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>