@inherits LayoutComponentBase

@using System.Security.Claims

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
		<div class="top-row px-4">
			<AuthorizeView Roles="Admin">
				<Authorized>
					<p>Admin</p>
				</Authorized>
			</AuthorizeView>
			<AuthorizeView>
				<Authorized>
					<span class="ml-md-8" />
					<p class="ml-md-2">@context.User.FindFirst(ClaimTypes.Name).Value</p>
					<a href="logout" class="ml-md-2">Logout</a>
				</Authorized>
				<NotAuthorized>
					<a href="login" class="ml-md-auto">Login</a>
				</NotAuthorized>
			</AuthorizeView>
		</div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>